@import '../../common_styles/vars.scss';

.main {
  padding: $gutter 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  .cards {
    width: 100%;
    .cards__container {
      max-width: 1250px;
      margin: 0 auto;
    }
    .cards__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 0;
    }
  }
}
