@import '../../../common_styles/vars.scss';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 570px;
  width: 75vw;
  max-height: 320px;
  height: 50vw;
  background: $secondary;
  border-radius: 8px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
  margin: 20px auto;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  transition: box-shadow linear 0.4s;
  &:hover {
    box-shadow: 0px 5px 40px $yellow;
    cursor: pointer;
  }
}
.card__hero {
  .card__heroAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    width: 80px;
    height: 80px;
    background: #a3015f;
    border-radius: 50%;
  }
  .card__heroName {
    text-align: center;
    line-height: 21px;
    font-size: 18px;
  }
  .card__heroGender {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $gray;
  }
}
