@import '/styles/common_styles/common_vars.scss';

.cards {
  width: 100%;
  .cards__container {
    max-width: 1250px;
    margin: 0 auto;
  }
  .cards__list {
    padding: 0;
  }
  .cards__infiniteScroll {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 900px;
  }
  .miniLoader{
    position: absolute;
    background-color: $white;
    bottom: -2%;
    padding: 10px;
  }
}
